@mixin flexspacebetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin flexalignstart {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
@mixin flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
