@use "./colors" as *;
@use "./mixins" as *;

.banner-section {
  border-top: 1px solid $darkGray;
  border-bottom: 1px solid $darkGray;
  min-height: 12vh;
  .banner-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    .img-div {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16%;
      img {
        width: 50%;
      }
    }
  }
}
