@use "./colors" as *;
@use "./mixins" as *;

.section-2 {
  min-height: 100vh;
  padding: 5rem 0;
  .sect-2-content {
    .content-1 {
      text-align: center;
      width: 50%;
      margin: 0 auto;
      .blue-text {
        color: $darkBlue;
        font-weight: bold;
      }
      h1 {
        padding: 1rem 0;
      }
      p {
        color: $textGray;
        font-weight: bold;
      }
    }
    .carousel-div {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin: 5rem 0;
      .carousel-card {
        border: 1px solid gray;
        border-radius: 10px;
        display: flex;
        width: 50%;
        img {
          width: 35%;
          border-radius: 10px 0 0 10px;
        }
      }
    }
    .rates-div {
      @include flexspacebetween;
      .rates-left {
        width: 50%;
      }
      .rates-right {
        width: 50%;
        @include flexspacebetween;
      }
    }
  }
}
