.middle-section {
  background: #f9fafb;
  min-height: 100vh;
  padding-bottom: 3rem;
}
.middle-section .middle-content {
  padding: 3rem 0;
}
.middle-section .middle-content .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto;
  width: 50%;
  text-align: center;
}
.middle-section .middle-content .content-1 p {
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
}
.middle-section .middle-content .content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
}
.middle-section .middle-content .content-2 .content-2-left {
  width: 45%;
}
.middle-section .middle-content .content-2 .content-2-left img {
  width: 100%;
}
.middle-section .middle-content .content-2 .content-2-right {
  width: 55%;
  padding-left: 3rem;
}
.middle-section .middle-content .content-2 .content-2-right p {
  margin: 1rem 0;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.middle-section .middle-content .content-2 .content-2-right .list {
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  list-style-type: none;
  margin-bottom: 1rem;
}
.middle-section .middle-content .content-2 .content-2-right .list li .list-icon {
  margin-right: 0.5rem;
  color: #4f46e5;
}
.middle-section .middle-content .content-2 .content-2-right .link {
  text-decoration: none;
  color: #4f46e5;
  font-weight: bold;
}
.middle-section .middle-content .content-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.middle-section .middle-content .content-3 .content-3-left {
  width: 60%;
}
.middle-section .middle-content .content-3 .content-3-left .blue-text {
  color: #4f46e5;
}
.middle-section .middle-content .content-3 .content-3-left p {
  margin: 1rem 0;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.middle-section .middle-content .content-3 .content-3-left .left-list {
  list-style-type: none;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
.middle-section .middle-content .content-3 .content-3-left .left-list li .list-icon {
  margin-right: 0.5rem;
  color: #4f46e5;
}
.middle-section .middle-content .content-3 .content-3-left .link {
  text-decoration: none;
  color: #4f46e5;
  font-weight: bold;
}
.middle-section .middle-content .content-3 .content-3-right {
  width: 40%;
}
.middle-section .middle-content .content-3 .content-3-right .form-div {
  border: 1px solid rgb(236, 236, 236);
  width: 100%;
  border-radius: 8px;
  background: #fff;
}
.middle-section .middle-content .content-3 .content-3-right .form-div img {
  width: 100%;
  padding: 2rem;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form {
  padding: 1rem 2rem;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group label {
  font-weight: bold;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  outline: none;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group button {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #4f46e5;
  border-radius: 5px;
  background: #4f46e5;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}/*# sourceMappingURL=section1.css.map */