@use "./navbar.scss";
@use "./home.scss";
@use "./banner.scss";
@use "./section1.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: min(80%, 100rem);
  max-width: 1120px;
  margin-inline: auto;
}
