nav {
  padding-bottom: 5rem;
}
nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0;
}
nav .navbar .logo a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
nav .navbar .logo a .cube {
  color: #4f46e5;
  margin: 0;
}
nav .navbar .nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .navbar .nav-links li {
  list-style-type: none;
  padding: 0 1rem;
}
nav .navbar .nav-links li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
}
nav .navbar .setting-cart a {
  margin-left: 1rem;
  padding: 0.3rem 0.5rem;
  border-radius: 50px 50px;
}
nav .navbar .setting-cart a .setting {
  color: #4f46e5;
}
nav .navbar .setting-cart a .cart {
  color: #fff;
}
nav .navbar .setting-cart .bg-setting {
  border: 1px solid rgb(236, 236, 236);
}
nav .navbar .setting-cart .bg-cart {
  background: #4f46e5;
}

.home-section {
  min-height: 70vh;
}
.home-section .home-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70vh;
}
.home-section .home-content .flex-start {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 3rem;
}
.home-section .home-content .left {
  letter-spacing: 0.1rem;
  padding-top: 2rem;
  width: 55%;
}
.home-section .home-content .left h1 {
  font-size: 3rem;
}
.home-section .home-content .left h1 .blue-text {
  color: #4f46e5;
}
.home-section .home-content .left p {
  color: gray;
  margin: 1.8rem 0;
  font-weight: 600;
}
.home-section .home-content .left .start-btn {
  background: #4f46e5;
  border: none;
  margin: 0 1rem 0 0;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  color: #fff;
  font-size: 1rem;
}
.home-section .home-content .left .doc-btn {
  border: 1px solid #4f46e5;
  background: transparent;
  margin: 0 1rem 0 0;
  cursor: pointer;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  color: #4f46e5;
  font-size: 1rem;
  transition: 0.15s ease-in-out;
}
.home-section .home-content .left .doc-btn:hover {
  background: #4f46e5;
  color: #fff;
}
.home-section .home-content .right {
  width: 45%;
}
.home-section .home-content .right img {
  width: 100%;
}

.banner-section {
  border-top: 1px solid rgb(236, 236, 236);
  border-bottom: 1px solid rgb(236, 236, 236);
  min-height: 12vh;
}
.banner-section .banner-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
}
.banner-section .banner-content .img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16%;
}
.banner-section .banner-content .img-div img {
  width: 50%;
}

.middle-section {
  background: #f9fafb;
  min-height: 100vh;
  padding-bottom: 3rem;
}
.middle-section .middle-content {
  padding: 3rem 0;
}
.middle-section .middle-content .content-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5rem auto;
  width: 50%;
  text-align: center;
}
.middle-section .middle-content .content-1 p {
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin: 1rem 0;
}
.middle-section .middle-content .content-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  padding-bottom: 4rem;
}
.middle-section .middle-content .content-2 .content-2-left {
  width: 45%;
}
.middle-section .middle-content .content-2 .content-2-left img {
  width: 100%;
}
.middle-section .middle-content .content-2 .content-2-right {
  width: 55%;
  padding-left: 3rem;
}
.middle-section .middle-content .content-2 .content-2-right p {
  margin: 1rem 0;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.middle-section .middle-content .content-2 .content-2-right .list {
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  list-style-type: none;
  margin-bottom: 1rem;
}
.middle-section .middle-content .content-2 .content-2-right .list li .list-icon {
  margin-right: 0.5rem;
  color: #4f46e5;
}
.middle-section .middle-content .content-2 .content-2-right .link {
  text-decoration: none;
  color: #4f46e5;
  font-weight: bold;
}
.middle-section .middle-content .content-3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
.middle-section .middle-content .content-3 .content-3-left {
  width: 60%;
}
.middle-section .middle-content .content-3 .content-3-left .blue-text {
  color: #4f46e5;
}
.middle-section .middle-content .content-3 .content-3-left p {
  margin: 1rem 0;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
}
.middle-section .middle-content .content-3 .content-3-left .left-list {
  list-style-type: none;
  line-height: 1.5rem;
  color: gray;
  font-weight: bold;
  letter-spacing: 0.05rem;
  margin-bottom: 1rem;
}
.middle-section .middle-content .content-3 .content-3-left .left-list li .list-icon {
  margin-right: 0.5rem;
  color: #4f46e5;
}
.middle-section .middle-content .content-3 .content-3-left .link {
  text-decoration: none;
  color: #4f46e5;
  font-weight: bold;
}
.middle-section .middle-content .content-3 .content-3-right {
  width: 40%;
}
.middle-section .middle-content .content-3 .content-3-right .form-div {
  border: 1px solid rgb(236, 236, 236);
  width: 100%;
  border-radius: 8px;
  background: #fff;
}
.middle-section .middle-content .content-3 .content-3-right .form-div img {
  width: 100%;
  padding: 2rem;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form {
  padding: 1rem 2rem;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  margin: 1rem 0;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group label {
  font-weight: bold;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group input {
  width: 100%;
  padding: 0.7rem 0.5rem;
  outline: none;
  border: 1px solid rgb(236, 236, 236);
  border-radius: 5px;
}
.middle-section .middle-content .content-3 .content-3-right .form-div form .form-group button {
  width: 100%;
  padding: 0.7rem;
  border: 1px solid #4f46e5;
  border-radius: 5px;
  background: #4f46e5;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
}

.section-2 {
  min-height: 100vh;
  padding: 5rem 0;
}
.section-2 .sect-2-content .content-1 {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
.section-2 .sect-2-content .content-1 .blue-text {
  color: #4f46e5;
  font-weight: bold;
}
.section-2 .sect-2-content .content-1 h1 {
  padding: 1rem 0;
}
.section-2 .sect-2-content .content-1 p {
  color: gray;
  font-weight: bold;
}
.section-2 .sect-2-content .carousel-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 5rem 0;
}
.section-2 .sect-2-content .carousel-div .carousel-card {
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  width: 50%;
}
.section-2 .sect-2-content .carousel-div .carousel-card img {
  width: 35%;
  border-radius: 10px 0 0 10px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: min(80%, 100rem);
  max-width: 1120px;
  margin-inline: auto;
}/*# sourceMappingURL=style.css.map */